.score-block > .score {
    // position: absolute;
    right: 8px;
    top: -5px;
  }
  
  .score-block > .best-score {
    // position: absolute;
    right: 8px;
    margin-top: 5px;
    font-size: 12px;
  }