<div class="board-wrapper">
    <div class="row button-wrapper">
        <div class="col-lg-6">
            <button class="btn btn-success" *ngIf="vShowStart" (click)="onStart()">Start</button>
            <button class="btn btn-success" *ngIf="!vShowStart" (click)="onRestart()">Restart</button>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">

            <div *ngFor="let row of vBoardArray; let i = index" class="game-row">
                <div *ngFor="let cellValue of row; let j = index" [className]="getCellClass(cellValue)">

                </div>
            </div>
        </div>
    </div>
</div>